@model IEnumerable<MenuItem>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    @foreach (var item in Model)
    {
         <li class="nav-item">
            @if (item.IsPage)
            {
                <a class="nav-link @item.Active"
                   asp-area="@item.Area"
                   asp-page="@item.Page">
                    @item.Text
                </a>
            }
            else
            {
                <a class="nav-link @item.Active"
                   asp-controller="@item.Controller"
                   asp-action="@item.Action">
                    @item.Text
                </a>
            }
        </li>
    }
</ul>
</div>